@baseColor: #111;

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: -webkit-flex;
    background-color: @baseColor;
    -webkit-flex-direction: column;
    font-family: 'canalboldromainregular';
}

.header {
    height: 100px;
    color: white;
    padding: 20px 0px 0;
    margin-bottom: 40px;
    background-color: @baseColor;

    h1, h2 {
        margin: 0;
        padding: 0;
        font-weight: 800;
        line-height: 30px;
        font-style: italic;
        text-transform: uppercase;
    }

    h2 {
        color: black;
        margin-top: 15px;
        display: inline-block;
        background-color: white;
        padding: 5px 20px 5px 10px;
    }
}

.time {
    color: #666;
    text-align: left;
    margin-bottom: 5px;

    .item {
        width: 110px;
        text-align: center;
        margin-left: 10px;
        position: relative;
        display: inline-block;

        .value {
            font-size: 76px;
            text-align: center;
            line-height: 70px;
        }

        .name {
            font-size: 15px;
            text-align: center;
            color: darken(#666, 10%);
            text-transform: uppercase;
        }
    }
}

.content {
    padding: 20px;
    -webkit-flex: 1;
    display: -webkit-flex;

    .login {
        margin: auto;
        .form-control {
            height: auto;
            font-size: 32px;
            line-height: auto;
            font-weight: 800;
            font-style: italic;
        }
    }

    .grid {
        -webkit-flex: 1;
        background-color: black;
        display: -webkit-flex;
        -webkit-align-items: stretch;
        -webkit-flex-wrap: wrap;
        
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);

        .cell {
            position: relative;
            -webkit-perspective: 1000;

            .wrap {
                position: relative;
                -webkit-transition: 0.6s;
                -webkit-transform-style: preserve-3d;

                .front {
                    z-index: 2;
                    background-repeat: no-repeat;
                }

                .back {
                    padding: 5px;
                    font-size: 2em;
                    font-weight: bold;
                    text-align: center;
                    background-color: white;
                    text-transform: uppercase;
                    -webkit-transform: rotateY(180deg);

                    .glyphicon {
                        font-size: 2em;
                        margin-top: 10px;
                    }
                }

                &, .front, .back {
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    position: absolute;
                }

                .front, .back {
                    outline: 1px solid @baseColor;
                    -webkit-backface-visibility: hidden;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.flip {
                    -webkit-transform: rotateY(180deg);
                }
            }
        }
    }
}
