#modal {
    .content {
        padding: 20px;
        -webkit-flex: 1;
        display: -webkit-flex;
        -webkit-align-items: stretch;
        .img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .mine {
        padding: 0px;
    }

    .btn-xllg {
        font-size: 35px; 
    }

    .blacktheme {
            background-color: '#101010' !important;
            border-color: black !important;
            color: '#fff' !important;
    }

    IMG.imgsize {
        height: 400px;
        width: auto;
      }
}
